<footer class="foot-cont">
  <div class="footer">
    <ul class="languages">
      <li>Категория</li>
      <li>Категория</li>
      <li>Категория</li>
      <li>Категория</li>
      <li>Категория</li>
      <li>Категория</li>
      <li>Категория</li>
      <li>Категория</li>
      <li>Категория</li>
    </ul>
    <p class="line2"> </p>

    <ul class="footer2">
      <li>Регистрация</li>
      <li>Вход</li>
      <li>Категории товаров</li>
    </ul>
    <h5 class="copyright">Web Team "Full Plz" © 2021</h5>
  </div>
</footer>
