<div class="circle"></div>

<div class="sign-up">

  <div class="signup">
    <img class= "logo" src="https://upload.wikimedia.org/wikipedia/commons/4/42/OLX_New_Logo.png">
    <div class = "rega">
      <form>
        <section class="user">
          <input class="login" name="login" placeholder="Введите номер телефона или электронную почту">
        </section>
        <button class="btn-reg">
          Отправить
        </button>
      </form>
      <p routerLink="/sign-up" class="acc"> <strong id="zhirn">Регистрация</strong></p>
      <p routerLink="/sign-in" class="acc"> <strong id="zhirn">Вход</strong></p>
    </div>

  </div>

</div>
