<div class="circle"></div>

<div class="sign-up">

  <div class="signup">
    <img class= "logo" src="https://upload.wikimedia.org/wikipedia/commons/4/42/OLX_New_Logo.png">
    <div class = "rega">
      <form>
        <section class="user">
          <input class="login" name="login" placeholder="Номер телефона или электронная почта">
        </section>
        <section class="parol">
          <input class="pass" name="pass" type="password" placeholder="Введите пароль">
        </section>
        <section class="parol2">
          <input class="pass2" name="pass" type="password" placeholder="Подтвердите пароль">
        </section>
        <button class="btn-reg">
          Регистрация
        </button>
      </form>
      <p class="for-p">
        <a class ="forgot-pass">Забыли пароль?</a>
      </p>
      <p class="acc"> Уже есть аккаунт? <strong routerLink="/sign-in" id="zhirn">Войти</strong></p>
    </div>

  </div>

</div>
