<div class="circle"></div>

<div class="sign-up">

  <div class="signup">
    <img class= "logo" src="https://upload.wikimedia.org/wikipedia/commons/4/42/OLX_New_Logo.png">
    <div class = "rega">
      <form>
        <section class="user">
          <input id="phone" class="login" [(ngModel)]="phone" name="login" placeholder="Номер телефона">
        </section>
        <section class="user">
          <input id="email" class="login" [(ngModel)]="email" name="login" placeholder="Электронная почта">
        </section>
        <section class="parol">
          <input id="pass" class="pass" [(ngModel)]="pass" name="pass" type="password" placeholder="Введите пароль">
        </section>
        <section class="parol2">
          <input id="pass2" class="pass2" [(ngModel)]="pass2" name="pass" type="password" placeholder="Подтвердите пароль">
        </section>
        <button (click)="newUser()" class="btn-reg">
          Регистрация
        </button>
      </form>
      <p class="acc"> Уже есть аккаунт? <strong routerLink="/sign-in" id="zhirn">Войти</strong></p>
    </div>

  </div>

</div>
