*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  background-color: #3D66FF;
}
.circle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border: 100px solid #CDDBFF;
  border-radius: 50%;
  width: 900px;
  height: 900px;
  max-height: 100vh;
  margin-top: -200px;
  z-index: -1;
}
.mainbox{
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  /*background: white;*/
  width: 1200px;
  height: 100%;
  margin-left: 120px;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
.userinfo{
  padding-top: 100px;
  padding-left: 90px;
}
.titlename{
  padding: 30px;
}

.btn-save{
  background-color: #003035;
  border-radius: 5px;
  height: 40px;
  width: 294px;
  color: white;
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  appearance: none;
  border: 0px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 3px;
  font-size: 14px;
  margin-bottom: 10px;
}

.user-pass, .user-login, .user-phone, .user-name{
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  color: #999999;
  background: #fafafa;
  width: 280px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #efefef;
  font-size: 12px;
  margin-left: 3px;
  margin-top: 10px;
  padding-left: 10px;
}
